:root {
  --primary-color: rgb(130, 106, 251);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: var(--primary-color); */
  background-image: url("images/first.jpg");
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contianer {
  position: relative;
  max-width: 700px;
  height: 100%;
  /* background: #fffcfc; */
  /* background-color: #7e7e7e; */
  backdrop-filter: blur(200px);

  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2);
}
.contianer header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.contianer .form {
  margin-top: 30px;
}
/* .form .input-box
{
    width: 100%;
    margin-top: 20px;
} */
.input-box label {
  color: #333;
  font-size: 23px;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  border: 2px solid gray;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 1rem;
  color: #fff;
  margin-top: 8px;
  background: transparent;
}
::placeholder {
  color: #fff;
}

.form .culumn {
  display: flex;
  column-gap: 10px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 40px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
  cursor: pointer;
  accent-color: var(--primary-color);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.form .gender-box {
  margin-top: 20px;
}

.form .gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}
/* addredd */
.adderss :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
  background: transparent;

  /* background-color: rebeccapurple; */
}
.form button {
  height: 55px;
  width: 100%;
  outline: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  margin-top: 30px;
  border: 1px solid gray;
  transition: all 0.2s ease;
}
.form button:hover {
  background-color: rgb(88, 56, 250);
}
@media screen and (max-width: 500px) {
  .form .culumn {
    flex-wrap: wrap;
  }
}
