/* @import url('fonts.css'); */
:root {
  --background-color: #3498db;
  --menu-color: #004274;
  --text-color: #fff;
  --font-family: "Arial", Tahoma;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
  width: 100%;
  font-family: var(--font-family);
  background-color: var(--background-color);
}
nav {
  padding: 10px 30px;
  background-color: var(--menu-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
}
/* logo  */
.logo img {
  color: var(--text-color);
  width: 70px;
}
nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav ul li a {
  color: var(--text-color);
  font-weight: 600;
}

.menu-icon {
  display: none;
}
nav .menu-icon {
  color: var(--text-color);
  font-size: 23px;
}
@media (max-width: 600px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: var(--menu-color);
    overflow: hidden;
    gap: 0px;
  }
  nav ul li {
    padding: 20px;
  }
  .menu-icon {
    display: block;
  }
  #menu-list {
    transition: all 0.5s ease;
  }
}

/* countct us */

.contuct {
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.contuct .contuct-left {
  width: 30%;
  height: 100%;
  position: relative;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contuct-left::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: 10px;
  top: 50px;
  background: #afafb6;
  transform: translateY(0%);
}
.contuct-left .details {
  margin: 15px;
  text-align: center;
}
.contuct-left .details i {
  font-size: 23px;
  color: #3e2093;
  /* color: var(--text-color); */
  margin-bottom: 10px;
}
.contuct-left .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.contuct-left .details .text-one,
.contuct-left .details .text-two {
  font-size: 18px;
  color: #afafb6;
}
.contuct .contuct-right {
  width: 70%;
  margin-left: 70px;
}
.contuct .contuct-right .topic-text {
  font-size: 23px;
  /* color: #afafb6; */
  color: #3e2093;
  font-weight: 600;
}
.contuct-right .input-box {
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

.contuct-right .input-box input,
.contuct-right .input-box textarea {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
  background: #F0F1F8;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 10px;
  resize: none;
}
.contuct-right .message-box{
    min-height: 110px;
    margin-top: 16px;
}
.contuct-right .button input[type='button']{
   font-size: 23px;
   font-weight: 500;
   border: none;
   outline: none;
   border-radius: 6px;
   background: #3e2093;;
   color: #fff;
   padding: 8px 16px;
   cursor: pointer;
   transition: all 0.3s ease;
}
.contuct-right .button{
    margin-top: 12px;
    display: inline-block;
}
.button input[type='button']:hover{
    background:#5029bc ;
}

@media (max-width:950px) {
    .contuct {
        width: 90%;
        padding: 20px;
      }
}
@media (max-width:800px) {
    .contuct {
        height: 100%;
        margin: 40px 0;
        flex-direction: column-reverse;
      } 
    .contuct .contuct-left{
        width: 100%;
        display: flex;
        flex-direction:row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .details{
        flex-grow: 1;
        background-color: #5029bc;
    }

    .contuct .contuct-left::before{
        display: none;
    } 
    .contuct .contuct-right{
        width: 100%;
        margin-left: 0px;
    }

    /* right side */
    .topic-text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    /* serach */
    .search-box{
      height: 30px;
      width: 250px;
    } 


}
.test{
    width: 100%;
    display: flex;
    gap: 1em;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: 5px;

}
.test .row{
    display: none;
    scroll-snap-align: start;
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    border: 2px solid #fff;
    flex-shrink: 0;
    aspect-ratio: (3/2);
    
}

/* search */
.search-box{
  background: #c0bebe;
  height: 40px;
  width: 300px;
  /* position: relative; */
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 6px;

  
}
.search-box input{
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  background: #c0bebe;
  color: #333;
  font-size: 23px;
  flex: 1;
}
.search-box i{
  /* flex-grow: 1; */
  width: 15%;
  /* border: none;
  outline: none; */
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}