/* @import url('fonts.css'); */
:root {
  --background-color: #3498db;
  --menu-color: #004274;
  --text-color: #fff;
  --font-family: "Arial", Tahoma;
}

.darkmode {
  --background-color: #345;
  --menu-color: #334;
  --text-color: #fff;
  --font-family: "Arial", Tahoma;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  height: 100vh;
  width: 100%;
  font-family: var(--font-family);
  background-color: var(--background-color);
}
/* dark mode */
#theme-switch {
  width: 40px;
  height: 40px;
  padding: 0px;
  border-radius: 50px;
  /* background-color: #c0bebe; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #fff;
  background: var(--menu-color);
  border: none;
}
/* #theme-switch i {
  fill: #afafb6;
} */
#theme-switch i:last-child {
  display: none;
}
.darkmode #theme-switch i:first-child {
  display: none;
}
.darkmode #theme-switch i:last-child {
  display: block;
  /* color: #fff; */
}
nav {
  padding: 10px 30px;
  background-color: var(--menu-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;

}
/* logo  */
.logo{
  color: var(--text-color);
  font-weight: bold;
  font-size: 2rem;
}
.logo span{
color: #077b32;
text-shadow: 0 0 10px #077b32;
}
nav ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
nav ul li a {
  color: var(--text-color);
  font-weight: 600;
  position: relative;
  transition: all 0.3s ease-in-out;
}
nav ul li a::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -15px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover::after {
  bottom: -8px;
  opacity: 1;
}
nav ul li a:hover{
  color: var(--background-color);
}


/* another style */
/*  
nav ul li a::before {
  content: "";
  height: 2px;
  width: 0%;
  background: var(--background-color);
  position: absolute;
  left: 0;
  bottom: -9px;
  transition: all 0.3s ease;
}
nav ul li a:hover::before {
  width: 100%;
}
nav ul li a:hover{
  color: var(--background-color);
}
*/
.menu-icon {
  display: none;
}
nav .menu-icon {
  color: var(--text-color);
  font-size: 23px;
}
nav li:has(> ul)::after {
  content: "⮟";
  position: absolute;
  right: 110px;
  top: 0;
}
@media (max-width: 650px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    text-align: center;
    background: var(--menu-color);
    overflow: hidden;
    gap: 0px;
    z-index: 99999;
  }
  nav ul li {
    padding: 15px;
  }
  .menu-icon {
    display: block;
  }
  #menu-list {
    transition: all 0.5s ease;
  }
  #theme-switch {
    position: fixed;
    top: 20px;
    right: 70px;
    font-size: 20px;
    width: 30px;
    height: 30px;
   
  }
}


/* contianer-banner */
.contianer-banner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contianer-banner .image{
  width: 500px;
  height: 80vh;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 50px #077b32;
  margin: 10px 0;
}
.contianer-banner .image img{
  width: 100%;
  height: 100%;
}
.contianer-banner .image:hover{
  animation: animate 1.5s ease-in-out infinite;
}


@keyframes animate {
  0%{
scale: 1;
  }
  50%{
    scale: 1.05;
      }
      100%{
        scale: 1;
          }
}
.contianer-banner .content{
  color: #fff;
  min-height: 100px;
  width: 40%;
}

.contianer-banner .content h1{
 font-size: 18px;
}
.contianer-banner .content h1 span{
  color: #077b32;
  text-shadow: 0 0 10px #077b32;
 }
 .contianer-banner .content .type-writer{
  font-size: 23px
 }
 .contianer-banner .content .type-writer .type-writer-text{
  color: #077b32;
  text-shadow: 0 0 10px #077b32;
  font-weight: 600;
}
.content p{
  margin: 10px 0;
  line-height: 25px;
}

/* social midea */
.socil-link-content i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #077b32;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
margin: 0 1.15px;
color: #077b32;
font-size:1.5rem;
transition: 0.2s linear;
}
.socil-link-content i:hover{
  scale: 1.3;
  color: #333;
  background-color: #077b32;
  filter: drop-shadow(0 0 10 #077b32);

}

.content .btn button{
  width: 50%;
  height: 6vh;
  margin: 30px;
  background-color: #077b32;
  color: #fff;
  border: none;
  outline: none;
  font-size: 120%;
  font-weight: 700;
  border-radius: 7px;
  transition:all 0.2s ease;

}

.content .btn button:hover{
  scale: 1.1;
  background-color: transparent;
  color: #077b32;
  font-weight: 700;
  border: 2px solid #077b32;
  box-shadow: 0 0 40px #077b32;
}

/* end  .contianer-banner */
/* start in smal size screen */

@media (max-width:860px) {
  .contianer-banner{
    display: flex;
    flex-direction: column;
  }
  .contianer-banner .content{
 
    width: 80%;
  }
  .socil-link-content{
    /* text-align: center; */
  }
  .socil-link-content i{
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    
  }
  .contianer-banner .image{
    /* z-index: -1; */
    width: 50%;
    height: 60%;

  }
  .logo {
    font-size: 1rem;
  }
}
@media (max-width:440px) {
  .contianer-banner .content{
 
    width: 80%;
  }
  .contianer-banner .image{
    width: 50%;
    height: 40%;

  }
  .btn button{
    margin-top: 15px;
  }
  
}






/* countct us */
.conttuct-contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.contuct {
  width: 100%;
  background-color: #ffffff33;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.contuct .contuct-left {
  width: 30%;
  height: 100%;
  position: relative;
  margin-top: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contuct-left::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: 10px;
  top: 50px;
  background: #afafb6;
  transform: translateY(0%);
}
.contuct-left .details {
  margin: 15px;
  text-align: center;
}
.contuct-left .details i {
  font-size: 23px;
  color: #3e2093;
  margin-bottom: 10px;
}
.contuct-left .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.contuct-left .details :where(.text-one, .text-two) {
  font-size: 18px;
  color: #afafb6;
}
.contuct .contuct-right {
  width: 70%;
  margin-left: 70px;
}
.contuct .contuct-right .topic-text {
  font-size: 23px;
  /* color: #afafb6; */
  color: #3e2093;
  font-weight: 600;
}
.contuct-right:has(p) {
  font-size: 18px;
  line-height: 25px;
}
.contuct-right .input-box {
  width: 100%;
  height: 50px;
  margin: 10px 0;
}

.contuct-right .input-box :where(input, textarea) {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 6px;
  background: #f0f1f8;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 10px;
  resize: none;
}
.contuct-right .input-box :is(input, textarea):where(:hover, :focus) {
  border: none;
  outline: none;
  border: 1px solid lightblue;
  border-radius: 0px;
}

.contuct-right .message-box {
  min-height: 110px;
  margin-top: 16px;
}
.contuct-right .button input[type="button"] {
  font-size: 23px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 6px;
  background: #3e2093;
  color: #fff;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contuct-right .button {
  margin-top: 12px;
  display: inline-block;
}
.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .contuct {
    width: 90%;
    padding: 20px;
  }
}
@media (max-width: 800px) {
  .contuct {
    height: 100%;
    margin: 20px 0;
    flex-direction: column-reverse;
  }
  .contuct .contuct-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .details {
    flex-grow: 1;
    /* background-color: #5029bc; */
  }

  .contuct .contuct-left::before {
    display: none;
  }
  .contuct .contuct-right {
    width: 100%;
    margin-left: 0px;
  }

  /* right side */
  .topic-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.test {
  width: 100%;
  display: flex;
  gap: 1em;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: 5px;
  background: rebeccapurple;
  /* height: 300px; */
}
.test .row {
  display: ;
  scroll-snap-align: start;
  width: 300px;
  height: 100px;
  background-color: lightcoral;
  border: 2px solid #fff;
  flex-shrink: 0;
  aspect-ratio: (3/2);
}

/* search */
.search-box {
  background: #c0bebe;
  height: 40px;
  width: 350px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-radius: 6px;
  display: none;
}
.search-box input {
  width: 85%;
  height: 100%;
  border: none;
  outline: none;
  background: #c0bebe;
  color: #333;
  font-size: 23px;
  /* flex: 1; */
}
.search-box i {
  /* flex-grow: 1; */
  width: 15%;
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box input::placeholder {
  color: #fff;
}

/* about */
.show-members-slider {
  /* background-image: url("../images/back3.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.show-members-slider h1 {
  text-align: center;
  color: #fff;
  padding: 10px;
  font-family: Tahoma;
  position: relative;
}
.show-members-slider h1::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 120px;
  left: 44%;

  top: 40px;
  background: linear-gradient(45deg, red, blue);
  transform: translateX(0%);
}
.about-member-contianer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  /* background-color: rgb(8, 181, 238); */
}
.card-list .card-item {
  user-select: none;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(218, 218, 218, 0.3);
  color: #333;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(20px);
}
.card-list .card-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin-bottom: 20px;
  padding: 4px;
}
.card-list .card-item .member-position {
  font-size: 23px;
  color: #e3e3e3;
  font-weight: 500;
  margin: 7px 0 10px;
}
.card-list .card-item .member-name {
  font-size: 23px;
  color: #e3e3e3;
  font-weight: 500;
  /* margin: 14px  0 10px; */
}
.card-list .card-item .message-send {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  /* margin: 14px  0 40px; */
  border: 1px solid #afafb6;
  background: #fff;
  transition: all 0.3s ease;
}
.card-list .card-item .message-send:hover {
  border: 1px solid #fff;
  background: rgba(148, 146, 146, 0.6);
  color: #fff;
}
.slider {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}
.slider .swiper-pagination-bullet {
  background: #fff;
  height: 15px;
  width: 15px;
}
.slider .swiper-btn {
  color: #fff;
  margin-top: -50px;
  transition: all 0.3s ease;
}
.slider .swiper-btn:hover {
  color: #4658ff;
}
@media (max-width: 768px) {
  .slider {
    margin: 0 10px 40px;
  }
  .slider .swiper-btn {
    display: none;
  }
}

/* footer */
.footer {
  text-align: center;
  padding: 20px 0;
  color: #fff;
}
.footer .social_midea i {
  font-size: 25px;
  padding: 10px;
}
.footer .social_midea i:hover {
  cursor: pointer;
  color: #3e2093;
}

/* main div section */
#main-section {
  /* background: rebeccapurple;
  border: 2px solid red; */
  padding-top: 10px;
  width: 95%;
  margin: 0 auto;
}
