@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

@theme {
  /* fonts */
  --font-quicksand: "Quicksand", serif;
  --bg-brand-color: "";
  --text-color: #374151;
  --text-brand-color: #4407a8;
}
